@import "recipeDetails";
@import "haveIngredient";
@import "recipeForm";
@import "editRecipe";
@import "ingredientForm";
@import "ingredients";
@import "shoppingList";
@import "shoppingListForm";
@import "shoppingItems";
@import "recipeList";
@import "categoryMenu";
@import "categoryForm";


body, html {   
    font-family: 'Montserrat', sans-serif;      
    margin: 0;  
    padding: 0;
     
}
/* STYLING FOR ALL INPUTS THROUGHOUT RECIPE APP */
input {   
    font-family: 'Montserrat', sans-serif;  
    color: #763c00;         
    text-align: left; 
    font-size: 1rem;
    outline: none;            
    padding: 5px;              
    border: 1px solid rgb(135,85,34,0.3);
    border-radius: 10px;
    background-color: rgb(252, 248, 248);              
}
 /* STYLES INPUT PLACEHOLDERS */  
 ::placeholder {
    color: rgb(155,133,128,0.6);
    font-size: 16;
    text-align: center;
}  
/* CHANGES BACKGROUND COLOR OF INPUT WHEN HOVERED OVER */ 
input:hover {
    background-color: rgba(250, 245, 245, 0.959);            
} 

/* STYLING FOR ALL ICONS AND BUTTON WRAPPERS FOR ICONS THROUGHOUT RECIPE APP */
.iconButton {        
    font-size: 1.4rem;          
    border: none;
    background-color: transparent;                     
    outline: none; 
    padding: 4px; 
    /* ICON TO DELETE ITEMS */    
    .trash {
        color: #c04d33f1;  
    }
    .trash:hover {
        color: #ff1616;
    }
    /* ICON TO EDIT ITEMS */
    .edit {
        color: #e99230;
    }
    .edit:hover {
        color: #e4aa83;
    } 
    /* ICON TO SAVE ITEMS */
    .save {
        color: #4f7285;
    }
    .save:hover {
        color: #618fa8;
    }   
    /* ICON TO ADD ITEMS */
    .add {
        color: #764b36;
        font-size: 1rem;
    }
    .add:hover {
        color: #a36d52;
    }    
}
/* ICON WRAPPED IN BUTTON AND LINK THAT TAKES USER TO CATEGORY MENU */
.iconButton-ctgy {
    border-radius: 20px;
    border: none;   
    padding: 3px;
    margin-left: 5px;
    .ctgy-icon {
        padding: 2px;
    }
}
/* ICON WRAPPED IN LINK THAT TAKES USER TO HOMEPAGE */
.home {
    color: rgb(134, 107, 95);
}
.home:hover {
    color: rgb(185, 155, 142);
}

/* STYLES LINKS THROUGHOUT RECIPE APP */
.link {
    text-decoration: none;        
}

/* STYLES REGULAR DELETE AND SAVE BUTTONS (NOT ICONS) THROUGHOUT RECIPE APP */
.regBtns {  
    color:#2c201e;  
    border: 1px solid rgb(135,85,34,0.3);
    border-radius: 5px;                    
    width: 75px;            
    font-size: 0.9em;
    padding: 3px;
    outline: none;
    background-color: rgba(187, 136, 121, 0.158); 
    background-image: rgba(182, 95, 69, 0.096); 
    background-image: -moz-linear-gradient(top, #fff 0%, rgba(218, 93, 55, 0.404) 100%); 
    background-image: -webkit-linear-gradient(top, #fff 0%, rgba(218, 93, 55, 0.404) 100%); 
    background-image: linear-gradient(to bottom, #fff 0%, rgba(218, 93, 55, 0.404) 100%); 
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;    
}
.regBtns:hover {
    background-position: -200%;
    transition: background 300ms ease-in-out;
}

