.EditRecipe-container {
    h3 {
        color: #2c201e;
        font-size: 1.3rem;  
    }
    .textEditor {
        color:#2c201e;
        width: 500px;
        margin: auto;
        border: 1px solid rgb(135,85,34,0.3);
        border-radius: 10px;
    }
}
        
  