/* STYLES ELEMENTS WITHIN PARENT CONTAINER */
.EditRecipe-container {
    padding-top: 30px;
    width: 100vw;
    height: 100vh; 
    background-color: #f1f1f1;   
    display: inline-table;
    h3 {
        color: #2c201e;
        font-size: 1.3rem;  
        margin-bottom: 15px;           
    }  
    /* STYLES LEFT ARROW ICON */
    .titleInput-container {
        margin-bottom: 40px;
        .arrow {
            margin-right: 15px;
            color: #764b36;
            font-size: 1.1rem;
        }
        .arrow:hover {
            color: #ca8c6c;
        }
    } 
    #ingredients-title {        
       margin-bottom: 10px;;
     } 
    .ingredientsList-container {
        display: flex;
        flex-direction: column;      
        .Ingredients-displayContainer {
            justify-content: center;
            margin: auto;
        }
        span {
            flex-grow: 0;
            flex-shrink: 0;
            text-align: left;
            flex-basis: 300px;
        }
        button {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 25px;
        }
    }
    form {
        padding-bottom: 30px;
        /* CONTAINER FOR "CodeEditor" COMPONENT FROM "react-textarea-code-editor" */
        .textEditor {
            color:#2c201e;
            width: 500px;
            margin: auto;
            border: 1px solid rgb(135,85,34,0.3);
            border-radius: 10px;
        }
        .regBtns {
            margin-top: 15px;
        }
    }      
}
        
  