.RecipeForm-container {    
    width: 100vw;
    height: 100vh;  
    background-color: #f1f1f1;
    h3 {
        color: #2c201e;
        font-size: 1.2em; 
    }
    input {
      margin-top: 5px;
      margin-bottom: 20px;  
    }
    .titleInput {
        text-align: center;
    }
    /* STYLES LINK THAT TAKES USER TO HOMEPAGE */
    .homeLink-container {
        width: 100%;
        background-color: rgba(189, 168, 155, 0.055);
        overflow: auto;
        padding-top: 30px;
    }
    .home {  
        padding: 5px;      
        margin-bottom: 10px;
    }
    .category-input {
        input {
            text-align: center;
            margin-right: 15px;
        }
        .iconButton-ctgy {
            background-color:#85a3c246;
        .ctgy-icon {
            color: #6e5042a2;
            text-shadow: 
                0 0 4px #80635634;                 
        }
        .ctgy-icon:hover {
            color: #6e504267;
        }
        }   
        .iconButton-ctgy:hover {
            background-color:#6ea0d11a;
        } 
    }
    .category-container {
        margin-top: 15px;
        margin-bottom: 5px;
        .CategoryMenu-container {
            display: inline-block;
            select {
                font-size: 1.3rem; 
                color: #2c201e;
                margin-right: 15px;
            }
            select:hover {
                color: #2c201e8f;
            }
        } 
        /* STYLES ICON BUTTON FOR CATEGORY LIST MENU */
        .iconButton-ctgy {
            background-color:#85a3c246;
        .ctgy-icon {
            color: #6e5042a2;
            text-shadow: 
                0 0 4px #80635634;                 
        }
        .ctgy-icon:hover {
            color: #6e504267;
        }
        }   
        .iconButton-ctgy:hover {
            background-color:#6ea0d11a;
        } 
    }
    .ingredientForm-container {
       input {
           margin-bottom: 5px;
       }
    }
    /* HANDLES CENTERING AND SPACING THE LIST OF INGREDIENTS */
    .ingredients-container {
        display: flex;
        flex-direction: column;      
        .Ingredients-displayContainer {
            justify-content: center;
            margin: auto;
        }
        span {
            flex-grow: 0;
            flex-shrink: 0;
            text-align: left;
            flex-basis: 300px;
        }
        button {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 25px;
        }
    }
    form {
        margin-bottom: 30px;
        #directions-header {
            margin-top: 30px;
        }
        /* STYLES CODE EDITOR COMPONENT */
        .textEditor {
            color:#2c201e;
            width: 500px;
            margin: auto;
            border: 1px solid rgb(135,85,34,0.3);
            border-radius: 10px;
        }
        .regBtns {
            margin-top: 15px;
        }
    }   
}

/* STYLES "recipeForm" COMPONENT WHEN SCREEN IS MOBILE SIZE */
@media screen and (max-width: 415px) {
    .RecipeForm-container {
        form {
            #directions-header {
                margin-top: 20px;
            }
            .textEditor {
                width: 250px;                
            }
            .regBtns {
                margin-top: 8px;
            }
        }
        .homeLink-container {
            padding-top: 20px;
        }
        .ingredientForm-container {
            margin-top: -15px;
            input {
                margin-bottom: -10px;
            }
            button {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
            }
        }
        /* CENTERS INGREDIENTS */
        .ingredients-container {
            margin-top: -10px;
            .Ingredients-displayEditModeContainer {
                margin-top: 15px;
                margin-bottom: -10px;
                input {
                    margin-bottom: -10px;
                }
                button {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                }
            }
            .Ingredients-displayContainer {
                span {
                    flex-basis: 125px;
                    margin-bottom: 5px;
                    margin-right: 10px;
                    align-self: center;
                }
            }            
        }
    }   
}