/* CREATES TRANSPARENT BACKGROUND IMAGE. CREATE A PARENT ELEMENT AND MAKE POSITION RELATIVE */
.RecipeList-container {
    position: relative;    
}
/* THEN SET THAT PARENT ELEMENT TO :BEFORE */
.RecipeList-container:before { 
    background-color: #faf5f0;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;     
    width: 100vw;
    height: 100vh; 
    opacity: 0.4;
    background: url(../RecipeHooks/Recipes/Images/F06BCA1B-CAAB-4642-9607-7AB4A43A9AC5.jpeg) no-repeat center;
    background-size: cover; 
    background-position: 50% 0;    
}  
/* THEN CREATE A DIV INSIDE THE PARENT CONTAINER AND WRAP IT AROUND ALL THE CONTENT,
MAKING SURE TO SET POSITION TO RELATIVE */  
.RecipeList-content {
    position: relative;
    padding: 50px;
    h1 {
        font-family: 'Fuzzy Bubbles', cursive; 
        color: #663d28e0;
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
    p {
        color: #2c201e75; 
        font-size: 1.1rem;
        font-weight: bold;
    }

    /* STYLES LINK THAT TAKES USER TO SHOPPINGLIST COMPONENT */
    .shoppingLink {
        font-size: 1.4rem;
        font-weight: bold;
        color: #457c97;
        text-shadow: 
            0 0 7px rgba(150, 181, 197, 0.493);         
    }
    .shoppingLink:hover {
        color: #457c9786;
    }
    /* STYLES SEARCH INPUT */
    .searchItems {
        margin-top: 35px;
        margin-bottom: 30px;
        input {
            margin-right: 5px;
            padding: 8px;
        }
    }
    /* STYLES RECIPE TITLE LINK THAT TAKES USER TO RECIPE DETAILS */
    .recipeTitle-container {
        margin-left: auto;
        margin-right: auto; 
        /* CREATES SCROLLBAR TO CONTAIN RECIPE TITLES */     
        overflow: auto;
        scrollbar-width: thin;        
        scrollbar-color: rgba(196, 179, 202, 0.3) rgba(216, 210, 218, 0.3); 
        /* END CODE FOR SCROLLBAR */
        .recipeTitle-content {  
            display: flex;     
            justify-content: center;                      
             .titleLink {   
                font-weight: bold;        
                color: #6e5042cb;
                text-shadow: 
                    0 0 4px #80635634; 
                flex-grow: 0;
                flex-shrink: 0;
                text-align: left;
                flex-basis: 300px;   
                h3 {
                    margin-bottom: 5px;
                }  
            }                
        }
        .titleLink:hover {
            color: #6e50426b;
        }
        /* DELETE ICON */
        .trash {
            font-size: 0.9em;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: right;
            flex-basis: 20px;
        }       
    }  
    /* REST OF CODE FOR RECIPE TITLES SCROLLBAR */
    .recipeTitle-container::-webkit-scrollbar {
        /* CONTROLS PHYSICAL SIZE OF WHAT SCROLLBAR LOOKS LIKE */
        width: 10px;   
        height: 10px; 
    }
    .recipeTitle-container::-webkit-scrollbar-track {
        background-color:rgba(216, 210, 218, 0.3);
    }
    .recipeTitle-container::-webkit-scrollbar-thumb {
        background-color: rgba(196, 179, 202, 0.3); 
        background-image: rgba(196, 179, 202, 0.3); 
        background-image: -moz-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
        background-image: -webkit-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
        background-image: linear-gradient(to bottom, #fff 0%, rgba(196, 179, 202, 0.3) 100%);        
        border-radius: 20px;
        border: 1px solid rgb(135,85,34,0.3);
    } 
}


/* CODE TO KEEP "RecipeList" COMPONENT RESPONSIVE TO SCREEN SIZES */
@media screen and (min-width: 446px) {
    .RecipeList-content {
        /* CODE THAT HANDLES SIZE OF WHEN SCROLLBAR IS NEEDED */
        .recipeTitle-container {
            height: 300px;
            width: 400px; 
        }
    }
}
@media screen and (max-width: 445px) {
    .RecipeList-container {
        .RecipeList-content {            
            padding-top: 35px;
            padding-right: 20px;
            padding-left: 5px;
            padding-bottom: 5px;
            h1 {
                font-size: 1.7rem;
            }    
            .shoppingLink {
                font-size: 1.3rem;        
            } 
            .searchItems {
                margin-top: 30px;
                margin-bottom: 15px;
                input {
                    padding: 6px;
                }
            }      
            .recipeTitle-container {
                /* CODE THAT HANDLES SIZE OF WHEN SCROLLBAR IS NEEDED */
                height: 400px;
                .titleLink {
                    flex-basis: 180px;
                }
            }
            .trash {
                flex-basis: 15px;
            }
        }
    }   
}

