.RecipeDetails-container { 
  white-space: pre-line;
  h2 {   
    color: #7c3839f8;
    font-weight: bold;
  }
  h3 {
    color: #2c201e;
    font-size: 1.3rem;  
    margin-bottom: 0;
  }
  #directions {
    text-align: justify;
    inline-size: 155px;
    overflow-wrap: break-word;
    width: 500px;
    margin: auto;
    color: #2c201e;
    margin-top: 15px;
  }

  .RecipeDetails-iconLinks-container {
    width: 100%;
    background-color: rgba(233, 208, 158, 0.2);
    overflow: auto;
    .iconLinks {   
      width: 15%;
      text-align: center;
      padding: 10px 0;
      transition: all 0.3s ease;
      color: white;
    }
  }    
  .RecipeDetails-haveIngredient-container {
    display: flex;
    justify-content: center;
  }
 











}



 
  
 
  
 