/* STYLES PARENT DIV FOR "EditRecipe" COMPONENT - CONTAINER FOR WHEN IN EDIT MODE */
.RecipeDetails-EditRecipe-container {
  display: flex;
  justify-content: center;   
}

/* CONTAINER FOR WHEN RECIPE DETAILS ARE DISPLAYED */
.RecipeDetails-container {     
    width: 100vw;
    height: 100vh;  
    background-color: #f1f1f1;
    display: inline-table;    
    /* RECOGNIZES LINE BREAKS INSIDE TEXT EDITOR */
    white-space: pre-line;
    /* STYLES INGREDIENTS AND DIRECTIONS HEADERS */
    h2 {   
      color: #7c3839f8;
      font-weight: bold;
    }
    h3 {
      color: #2c201e;
      font-size: 1.3rem;    
      margin-top: 30px;  
    }
    /* STYLES PARENT DIV FOR "HaveIngredient" COMPONENT */
    .RecipeDetails-haveIngredient-container {  
      .ingredients-content-container {         
          margin-left: auto;
          margin-right: auto; 
          /* SCROLL BAR */
          height: 110px;
          width: 300px;
          overflow: auto;
          scrollbar-width: thin;        
          scrollbar-color: rgba(196, 179, 202, 0.3) rgba(216, 210, 218, 0.3);         
        /* CENTERS INGREDIENTS LIST */
        .HaveIngredient-checkbox-container { 
          display: flex;
          justify-content: center;
          gap: 5px;          
          .check, .items {
            flex-grow: 0;
            flex-shrink: 0;
            text-align: left;
          }
          .check {
            flex-basis: 10px;
          }
          .items {
            flex-basis: 200px;
            align-self: center;
          }    
        }
      }
      /* REST OF CODE FOR SCROLLBAR */
      .ingredients-content-container::-webkit-scrollbar {
      /* CONTROLS PHYSICAL SIZE OF WHAT SCROLLBAR LOOKS LIKE */
      width: 10px;   
      height: 10px; 
      }
      .ingredients-content-container::-webkit-scrollbar-track {
          background-color:rgba(216, 210, 218, 0.3);
      }
      .ingredients-content-container::-webkit-scrollbar-thumb {
          background-color: rgba(196, 179, 202, 0.3); 
          background-image: rgba(196, 179, 202, 0.3); 
          background-image: -moz-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
          background-image: -webkit-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
          background-image: linear-gradient(to bottom, #fff 0%, rgba(196, 179, 202, 0.3) 100%);        
          border-radius: 20px;
          border: 1px solid rgb(135,85,34,0.3);
      }    
    }        
    /* STYLES TEXT EDITOR AND DATA WITHIN */
    .directions-container {
      display: flex;
      justify-content: center;  
      margin-top: 15px; 
      margin-left: auto;
      margin-right: auto;    
      margin-bottom: 30px;
      /* SCROLLBAR */ 
      height: 270px;
      width: 470px;  
      overflow: auto;
      scrollbar-width: thin;        
      scrollbar-color: rgba(196, 179, 202, 0.3) rgba(216, 210, 218, 0.3);       
      #directions {          
        text-align: justify; 
        margin-bottom: 90px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 395px;       
        /* CODE TO KEEP LONG WORDS WITHIN DIV WIDTH */
        inline-size: 155px;
        overflow-wrap: break-word;
        /* ### */
        color: #2c201e;
      }       
    }
     /* REST OF CODE FOR SCROLLBAR */
     .directions-container::-webkit-scrollbar {
      /* CONTROLS PHYSICAL SIZE OF WHAT SCROLLBAR LOOKS LIKE */
      width: 10px;   
      height: 10px; 
    }
    .directions-container::-webkit-scrollbar-track {
        background-color:rgba(216, 210, 218, 0.3);
    }
    .directions-container::-webkit-scrollbar-thumb {
        background-color: rgba(196, 179, 202, 0.3); 
        background-image: rgba(196, 179, 202, 0.3); 
        background-image: -moz-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
        background-image: -webkit-linear-gradient(top, #fff 0%, rgba(196, 179, 202, 0.3) 100%); 
        background-image: linear-gradient(to bottom, #fff 0%, rgba(196, 179, 202, 0.3) 100%);        
        border-radius: 20px;
        border: 1px solid rgb(135,85,34,0.3);
    } 
    /* END OF CODE FOR SCROLLBAR */
    #no-directions-message {
      text-align: center;
      color: #2c201e75; 
      font-size: 1.1rem;
      font-weight: bold;
    }
    /* STYLES CONTAINER WRAPPING ICON LINKS AT TOP OF PAGE */
    .RecipeDetails-iconLinks-container {
      width: 100%;
      background-color: rgba(189, 168, 155, 0.055);
      overflow: auto;
      padding-top: 30px;
      padding-bottom: 10px;
      /* STYLES INDIVIDUAL LINKS WITHIN CONTAINER */
      .iconLinks {   
        width: 15%;
        text-align: center;
        padding: 10px 0;
        transition: all 0.3s ease;
        color: white;
      .trash {
      color: #c43c1e;  
      }
      .trash:hover {
        color: #ff1616;
      }
    }
  }   
}  

/* ADDS RESPONSIVENESS WHEN SCREEN IS MOBILE SIZE */
@media screen and (max-width: 300px) {
  .RecipeDetails-container {   
    .RecipeDetails-iconLinks-container {
      padding-top: 20px;
      .iconLinks {
        width: 25%;
      }
    }
    .RecipeDetails-haveIngredient-container {    
      .HaveIngredient-message-container {
        .numOfIng { 
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 5px;
          width: 60%;                
          p {
            font-size: 1rem;
          }
          .numIng {
            font-size: 1.1rem;
          }         
        } 
        .link {
          font-size: 1rem;
        }    
      }
      .HaveIngredient-container {
        .HaveIngredient-checkbox-container { 
          .check {
            flex-basis: 10px;
          }
          .items {
            flex-basis: 160px;
          }    
        } 
      }    
    }
    .directions-container {
      height: 675px;
    }    
  }  
}
  
    
    
  




 
  
 
  
 