.RecipeForm-container {    
    width: 100vw;
    height: 100vh;  
    background-color: #f1f1f1;
    h3 {
        color: #2c201e;
        font-size: 1.2em; 
    }
    input {
      margin-top: 15px;
      margin-bottom: 20px;  
    }
    /* STYLES LINK THAT TAKES USER TO HOMEPAGE */
    .homeLink-container {
        width: 100%;
        background-color: rgba(189, 168, 155, 0.055);
        overflow: auto;
        padding-top: 30px;
    }
    .home {  
        padding: 5px;      
        margin-bottom: 10px;
    }
    .ingredientForm-container {
       input {
           margin-bottom: 5px;
       }
    }
    /* HANDLES CENTERING AND SPACING THE LIST OF INGREDIENTS */
    .ingredients-container {
        display: flex;
        flex-direction: column;      
        .Ingredients-displayContainer {
            justify-content: center;
            margin: auto;
        }
        span {
            flex-grow: 0;
            flex-shrink: 0;
            text-align: left;
            flex-basis: 300px;
        }
        button {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 25px;
        }
    }
    form {
        margin-bottom: 30px;
        #directions-header {
            margin-top: 30px;
        }
        /* STYLES CODE EDITOR COMPONENT */
        .textEditor {
            color:#2c201e;
            width: 500px;
            margin: auto;
            border: 1px solid rgb(135,85,34,0.3);
            border-radius: 10px;
        }
        .regBtns {
            margin-top: 15px;
        }
    }   
}