.ShoppingList-container {
    position: relative;
}
.ShoppingList-container:before {
    background-color: #faf5f0;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;     
    width: 100vw;
    height: 100vh; 
    opacity: 0.3;
    background: url(../RecipeHooks/Recipes/Images/jess-bailey-kfDHPpCQEBQ-unsplash.jpg) no-repeat center;
    background-size: cover; 
    background-position: 50% 0;     
}
.ShoppingList-content {
    position: relative;
    padding-top: 30px;
    h1 {
        font-family: 'Fuzzy Bubbles', cursive; 
        color: #663d28e0;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    p {
        color: #2c201e75; 
        font-size: 1.1rem;
        font-weight: bold;
    }
    .home {
        margin-bottom: 30px;
    }
    .regBtns {
        margin-top: 15px;
        margin-bottom: 35px;
    }
}

/* CODE TO KEEP "RecipeList" COMPONENT RESPONSIVE TO SCREEN SIZES*/
// @media screen and (max-width: 390px) {
//     .ShoppingList-container {
//         .ShoppingList-content{
//             padding-top: 35px;
//             h1 {
//                 font-size: 1.7rem;
//             }    
//             .shoppingLink {
//                 font-size: 1.3rem;        
//             } 
//             .searchItems {
//                 margin-top: 30px;
//                 margin-bottom: 15px;
//                 input {
//                     padding: 6px;
//                 }
//             }      
//             .recipeTitle-container {
//                 .titleLink {
//                     flex-basis: 180px;
//                 }
//             }
//             .trash {
//                 flex-basis: 15px;
//             }
//         }
//     }   
// }