/* ADDS BACKGROUND COLOR TO SHOPPING LIST COMPONENT CONTAINER */
.ShoppingList-container {
    width: 100vw;
    height: 100vh;  
    background-image: linear-gradient(to bottom right, #fff9f3, rgb(235, 235, 207));
    display: inline-table; 
    /* STYLES CONTENT INSIDE SHOPPING LIST CONTAINER */ 
    .ShoppingList-content {
        padding-top: 30px;
        h1 {
            font-family: 'Fuzzy Bubbles', cursive; 
            color: #883435bb;
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
        p {
            color: #2c201e75; 
            font-size: 1.1rem;
            font-weight: bold;
        }
        .home {
            margin-bottom: 30px;
        }
        .regBtns {
            margin-top: 15px;
            margin-bottom: 35px;
        }
        /* HIDES "RECIPE NAME" BUTTON UNLESS SCREEN IS MOBILE SIZE */
        .mobileListBtn-container {
            display: none;
        }
    }
}
 /* ADDS BACKGROUND COLOR TO LIST OF RECIPE TITLES. THIS ONLY SHOWS WHEN SCREEN IS MOBILE SIZE */
.recipeTitles-container {   
    height: 100vh;  
    background-image: linear-gradient(to bottom right, #fff9f3, rgb(235, 235, 207));
    padding: 30px;
    .backButton {
        margin-bottom: 20px;
        .arrow {
            color: #764b36;
            font-size: 1.1rem;
        }
        .arrow:hover {
            color: #ca8c6c;
        }
    }
}
/* CODE TO KEEP "ShoppingList" COMPONENT RESPONSIVE TO SCREEN SIZES */
@media screen and (max-width: 415px) {
    .ShoppingList-container {
        .ShoppingList-content{
            padding: 20px;
            h1 {
                font-size: 2.1rem;
                margin-bottom: 10px;
            }    
            .regBtns {
                margin-bottom: 25px;
            }    
            /* UN-HIDES "RECIPE NAME" BUTTON */   
            .mobileListBtn-container {
                display: block;
                margin-bottom: 10px;
                .iconButton {
                    font-size: 1rem;
                    color: #5981969a;
                    text-shadow: 
                        0 0 7px rgba(75, 135, 165, 0.253);         
                }
                .iconButton:hover {
                    color: #3c8cb454;
                }
            }
        }
    }
}
 