.ShoppingList-container {
    h2 {
        margin-bottom: 10px;
    }
    .home {
        margin-bottom: 30px;
    }
    #delete-all-btn {
        margin-top: 15px;
        margin-bottom: 35px;
    }
    .ShoppingList-ShoppingItems-container {
     
  
    }
}