/* STYLES "ShoppingListForm" COMPONENT */
.ShoppingListForm-container {
    form {
        input {
            margin-right: 5px;
        }
    }
}
/* KEEPS "ShoppingListForm" COMPONENT RESPONSIVE TO SCREEN SIZES */
@media screen and (max-width: 415px) {
    .ShoppingListForm-container {
        form {
            input  {
                margin-bottom: 5px;
            }
            button {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
                display: block;
            }
        }
    }
}