
/* CONTAINER FOR WHEN ITEM IS IN EDIT MODE */
.ShoppingItems-displayEditMode-container {
    /* STYLES INPUTS FOR EDITING */
    form {
        input {
            margin-left: 7px;
            margin-bottom: 15px;
        }
        .save {
            margin-left: 2px;
            font-size: 1em;
        }
    }
}

/* CONTAINER FOR WHEN SHOPPING ITEMS ARE DISPLAYED */
.ShoppingItems-displayItemsContainer {
    /* CENTERS ITEMS */
    display: flex;
    justify-content: center;   
    /* ALIGNS ITEMS IN COLUMNS */
    .recipeLink, .checkItem, .item, .itemBtns {        
        flex-grow: 0;
        flex-shrink: 0;
    }    
    .recipeLink, .item {
        flex-basis: 160px;
        text-align: left;
    }
    .checkItem {
        flex-basis: 35px;        
    }    
    .itemBtns {
        flex-basis: 80px;        
    }  
   
    /* CODE TO STYLE CHECKBOXES */ 
    label > input[type="checkbox"] {
        display: none;
    }
    label > input[type="checkbox"] + *::before {
        content: "";
        display: inline-block;        
        vertical-align: bottom;
        width: 1em;
        height: 1em;
        margin-right: 0.3rem;
        border-radius: 10%;
        border-style: solid;
        border-width: 0.1em;
        border-color: #866038;
    }
    label > input[type="checkbox"]:checked + * {
        color:#2c201e;
    }
    label > input[type="checkbox"]:checked + *::before {
        content: "✓";
        color: #19131d; 
        display: inline-block; 
        background: rgba(184, 150, 115, 0.212);
        border-color: rgba(184, 150, 115, 0.692);
    }  
    label > input[type="checkbox"] + * {
        display: inline-block; 
    }  
    /* STRIKES A LINE THROUGH ITEM IF USER CHECKS IT OFF */
    .crossOff {
        color: rgba(27, 15, 15, 0.308);
        text-decoration: line-through;
    } 
    .hideLine {
        text-decoration: none;
    }
    /* STYLES CHECKBOX, QUANTITY, AND ITEM SPANS */       
    span {
        font-size: 1em;
        color: #2c201e;
        margin-top: 5px;
        margin-bottom: 3px;
    }   
     /* STYLES DELETE ICON */
    .trash {
        font-size: 0.9em;
        margin-left: 8px;
    }  
    /* STYLES RECIPE TITLE LINKS AND MESSAGE WHEN ITEM IS NOT AN INGREDIENT FROM RECIPE */   
    .link {
        text-decoration: none;
        font-size: 1.1em;
        color: #3f4d7786;
        text-shadow: 
            0 0 1px rgba(102, 112, 121, 0.397);          
    }
    .link:hover {
        color: #474e63;
    }
    .titleMessage {        
        color: #2c201e73;
    }
} 

/* STYLES RECIPE TITLE LINKS AND ITEMS WHEN SCREEN IS IN MOBILE SIZE */
.displayTitleLinks-content {
    display: flex;
    justify-content: center;      
    .recipeTitles, .items {
        flex-grow: 0;
        flex-shrink: 0;
        margin-bottom: 10px;
    }
    .recipeTitles {
        flex-basis: 112px;
    }
    .items {
        flex-basis: 100px;
        align-self: center;
        font-size: 1em;
        color: #2c201e;
    }
    .link {
        text-decoration: none;
        font-size: 1.1em;
        color: #2f44838f;
        text-shadow: 
            0 0 7px rgba(102, 112, 121, 0.349);          
    }
    .link:hover {
        color: #474e63;
    }
    .noRecipeMessage {
        color: #2c201e73;
    }
}

/* CODE TO KEEP "ShoppingItems" COMPONENT RESPONSIVE TO SCREEN SIZES */
@media screen and (max-width: 415px) {
    /* STYLES SHOPPING ITEMS */
    .ShoppingItems-displayItemsContainer {
        .recipeLink {            
           display: none;
        } 
        .item {
            flex-basis: 135px;
            margin-bottom: 6px;
            align-self: center;
        }
        .checkItem {          
            flex-basis: 30px;  
            margin-bottom: 5px;      
        }    
        .itemBtns {
            margin-left: 10px;
            margin-bottom: 5px;
            flex-basis: 65px;        
        }       
    } 
    /* STYLES WHEN ITEMS ARE IN EDIT MODE */
    .ShoppingItems-displayEditMode-container {
        form {
            margin-top: 20px;
            margin-bottom: 20px;
            input {
                margin-bottom: 5px;
            }
            button {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}








 